<h1>Create a new business</h1>
<form method="post" action="/businesses">
  <input placeholder="Business Name" name="name" />
  <input placeholder="Address" name="address" />
  <input placeholder="Description" name="description" />
  <input type="submit" value="Create Business"/>
</form>